/* header */
@media screen and (min-width:992px) { 
  nav{
    font-size: 2rem;
    height: 100px;
    background:linear-gradient(to right,#070707 50%,#343434 60%);
  }
  .hoverLi:hover{
    border-style: solid;
    border-color: gold grey;
    border-width: 2px;
   }
  .logoContainer{
    background-image: url(../images/logo3.png);
    background-size: 400px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 300px;
  }
  ul{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .links{
    text-decoration: none;
    color: white;
  }
  .indexLink{
    visibility: hidden;
    padding: 3rem;
  }
  
}
/* index */
.indexBackground{
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../images/cafe-fondo.png);
  background-size: cover;
  height: 80vh;
  background-position: center;
}
.nosotros{
  padding: 10vh;
  color: aliceblue;
  font-size: 2rem;
}
/* footer */
footer{
  bottom: 0%;
  position:fixed;
  color: #070707;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  background-image: url(../images/madera.jpg);
}
/* Especialistas */
 /* especialistas */
 .especialistas{
  padding-top: 3rem;
}
.especialistasBody{
  background-image: url(../images/justicia.png);
  background-repeat: no-repeat;
  background-position-y: 5rem;
  background-color: beige;
  background-position-x: -4rem;
}
.carouselBody{
  background-color: #34343473;
}
/* Ubicación */
.ubicacio
.claseMap{
  display: flex;
  flex-direction: row;
}
/*-----------------------------------noticias------------------------------------------------------ */
